<div *ngIf='displayedData.length > 0; else noData'>
  <div [ngClass]='{"flex-row": flexRow}' class='gallery'>
    <ng-template ngFor let-item [ngForOf]='displayedData'>
      <a *ngIf='item.externalUrl; else internalUrl' [ngClass]='{"card-desktop-horizontal-image": !flexRow}' class='gallery-item card card-rounded card-clickable card-highlight slide-in slide-in-left' href={{item.url}} target='_blank' rel='noopener'>
        <img *ngIf='item.heroImage' class='card-image' src={{item.heroImage.src}} alt={{item.heroImage.alt}} />
        <div class='card-content card-arrow'>
          <h6 class='card-title'>{{item.title}}</h6>
          <p class='card-subtitle'>
            {{item.category}}
            <span *ngIf='item.status'> | {{item.status}}</span>
            <time *ngIf='item.date'> | {{item.date | date: 'longDate'}}</time>
            <span *ngIf='item.readingTime'> | {{item.readingTime.minutes}}m {{item.readingTime.seconds}}s</span>
          </p>
          <p>{{item.description}}</p>
          <div class='technologies'>
            <img *ngFor='let icon of item.technologies' src={{icon.src}} alt={{icon.alt}} title={{icon.alt}} />
          </div>
        </div>
        <svg class='arrow' viewBox='0 0 320 512'>
          <path fill='currentColor' d='M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z' />
        </svg>
      </a>

      <ng-template #internalUrl>
        <a [ngClass]='{"card-desktop-horizontal-image": !flexRow}' class='gallery-item card card-rounded card-clickable card-highlight slide-in slide-in-left' href={{item.url}} [routerLink]='item.url' rel='noopener'>
          <img *ngIf='item.heroImage' class='card-image' src={{item.heroImage.src}} alt={{item.heroImage.alt}} />
          <div class='card-content card-arrow'>
            <h6 class='card-title'>{{item.title}}</h6>
            <p class='card-subtitle'>
              {{item.category}}
              <span *ngIf='item.status'> | {{item.status}}</span>
              <time *ngIf='item.date'> | {{item.date | date: 'longDate'}}</time>
              <span *ngIf='item.readingTime'> | {{item.readingTime.minutes}}m {{item.readingTime.seconds}}s</span>
            </p>
            <p>{{item.description}}</p>
            <div class='technologies'>
              <img *ngFor='let icon of item.technologies' src={{icon.src}} alt={{icon.alt}} title={{icon.alt}} />
            </div>
          </div>
          <svg class='arrow' viewBox='0 0 320 512'>
            <path fill='currentColor' d='M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z' />
          </svg>
        </a>
      </ng-template>
      
    </ng-template>
    <a *ngIf='showMore' class='more button button-outline button-rounded' href='showMoreLink' [routerLink]='showMoreLink' rel='noopener'>View More</a>
  </div>
</div>

<ng-template #noData>
  <p>no data published yet.</p>
</ng-template>
